body{
    background-color: #660000;
    margin: 10px;
}

.wrapper{
    max-width: 1200px;
    
}



h1, h2, h3, p {
    color: #FFFFFF;
    margin: 10px;
}

h1 {
    text-align: center;
}




header a {
    color: #0083be;
}